In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

data = pd.read_csv('dataset/daraz final dataset.csv')
data.sample(7)

C:\Users\aakas\AppData\Local\Temp\ipykernel_20792\1717402287.py:1: DtypeWarning: Columns (19,32,43,47) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('dataset/daraz final dataset.csv')

,Unnamed: 0,Seller Name,Order Item Id,Daraz Id,Seller SKU,Daraz SKU,Created at,Updated at,Order Number,Order Source,...,Shipping Provider,Shipment Type Name,Shipping Provider Type,CD Tracking Code,Tracking Code,Tracking URL,Promised shipping time,Premium,Status,Reason
40182,40182,Alina Traders,14036,19604,Solid Cotton Kurta For Men- Army Green3,JF314FA11O5RCNAFAMZ-52138,2017-09-19 15:36:05,2017-09-19 15:55:35,300023532,NaN,...,NaN,Dropshipping,NaN,NaN,NaN,NaN,NaN,No,canceled,NaN
21105,21105,Aafno Pasal,89952,118094,OT028COBKIKWNPBID-2090702,OT776EL1IJYXKNAFAMZ-17483,2018-01-30 09:00:06,2018-02-01 21:41:58,300893262,NaN,...,Rapid,Dropshipping,NaN,NaN,RP76522,NaN,NaN,No,delivered,NaN
17732,17732,KpItSolution,110108,142829,GE910ELBKXSYNPBID-2120133,GE388HB0TUVZKNAFAMZ-5105,2018-03-05 09:52:05,2018-03-14 14:55:19,300817782,NaN,...,Rapid,Dropshipping,NaN,NaN,RP93312,NaN,NaN,No,delivered,NaN
112488,112488,tiffanynp,150123,192411,OT028JWBLBYCNPBID-2144950,OT776FA01MK0WNAFAMZ-28236,2018-04-30 07:24:04,2018-05-02 15:52:03,300828946,NaN,...,NP-Rapid-Fleet,Dropshipping,NaN,NaN,RP014361,NaN,NaN,No,canceled,CUS_6_-_Fulfilment_was_too_long_for_the_customer
120900,120900,Technoshoppe,141711,181419,JF810,TR016EL0MRWZ4NAFAMZ-65977,2018-04-19 08:52:04,2018-04-24 15:56:40,300431632,NaN,...,NP-Rapid-Fleet,Dropshipping,NaN,NaN,RP010015,NaN,NaN,No,failed,CA11- Duplicate order
23900,23900,AB Tech,87157,113986,GE910ELBL9NVNPBID-2139458,GE388HB05SDJKNAFAMZ-27306,2018-01-24 18:04:04,2018-02-01 17:57:53,300849122,NaN,...,Rapid,Dropshipping,NaN,NaN,RP74039,NaN,NaN,No,delivered,NaN
96067,96067,Fragrantica Nepal,43074,61027,WZHNP0902KR23174910-53458-19-01,VI051HB19O5TCNAFAMZ-1767,2017-11-24 19:24:05,2017-11-26 12:46:54,300077817,NaN,...,Rapid,Dropshipping,NaN,NaN,RP35066,NaN,NaN,No,canceled,NaN

In [3]:
data.shape

(151554, 54)

In [4]:
data.columns

Index(['Unnamed: 0', 'Seller Name', 'Order Item Id', 'Daraz Id', 'Seller SKU',
       'Daraz SKU', 'Created at', 'Updated at', 'Order Number', 'Order Source',
       'Order Currency', 'Customer Name', 'National Registration Number',
       'Shipping Name', 'Shipping Address', 'Shipping Address2',
       'Shipping Address3', 'Shipping Address4', 'Shipping Address5',
       'Shipping Phone Number', 'Shipping Phone Number2', 'Shipping City',
       'Shipping Postcode', 'Shipping Country', 'Shipping Region',
       'Billing Name', 'Billing Address', 'Billing Address2',
       'Billing Address3', 'Billing Address4', 'Billing Address5',
       'Billing Phone Number', 'Billing Phone Number2', 'Billing City',
       'Billing Postcode', 'Billing Country', 'Payment Method', 'Paid Price',
       'Unit Price', 'Shipping Fee', 'Wallet Credits', 'Item Name',
       'Variation', 'CD Shipping Provider', 'Shipping Provider',
       'Shipment Type Name', 'Shipping Provider Type', 'CD Tracking Code',
       'Tracking Code', 'Tracking URL', 'Promised shipping time', 'Premium',
       'Status', 'Reason'],
      dtype='object')

In [5]:
data_details = {'unique':data.nunique(),
              'dtype':data.dtypes,
             'null':data.isna().sum(),
             'null %':data.isna().sum()/len(data)
             }
data_details = pd.DataFrame(data_details)
data_details

                              unique    dtype    null    null %
Unnamed: 0                    151554    int64       0  0.000000
Seller Name                      554   object       0  0.000000
Order Item Id                 150074    int64       0  0.000000
Daraz Id                      150074    int64       0  0.000000
Seller SKU                     29947   object       0  0.000000
Daraz SKU                      30167   object       0  0.000000
Created at                     45533   object       0  0.000000
Updated at                     60166   object       0  0.000000
Order Number                   96277    int64       0  0.000000
Order Source                       0  float64  151554  1.000000
Order Currency                     0  float64  151554  1.000000
Customer Name                  46116   object       0  0.000000
National Registration Number       0  float64  151554  1.000000
Shipping Name                  45805   object      83  0.000548
Shipping Address               38583   object       0  0.000000
Shipping Address2              15351   object   89790  0.592462
Shipping Address3                 90   object  148558  0.980231
Shipping Address4                  1   object  148857  0.982204
Shipping Address5                  1   object  148857  0.982204
Shipping Phone Number          57201   object      83  0.000548
Shipping Phone Number2          9879   object  127521  0.841423
Shipping City                     51   object       0  0.000000
Shipping Postcode                  2   object  148827  0.982006
Shipping Country                   2   object       0  0.000000
Shipping Region                   10   object      30  0.000198
Billing Name                   46092   object       0  0.000000
Billing Address                37530   object       0  0.000000
Billing Address2               14948   object   89216  0.588675
Billing Address3                  85   object  148597  0.980489
Billing Address4                   1   object  148857  0.982204
Billing Address5                   1   object  148857  0.982204
Billing Phone Number           51430  float64       0  0.000000
Billing Phone Number2          10266   object  129547  0.854791
Billing City                      43   object       0  0.000000
Billing Postcode                   2   object  148854  0.982185
Billing Country                    2   object       0  0.000000
Payment Method                     2   object       0  0.000000
Paid Price                     10816  float64       0  0.000000
Unit Price                      3341  float64       0  0.000000
Shipping Fee                    5316  float64       0  0.000000
Wallet Credits                     1    int64       0  0.000000
Item Name                      24852   object       0  0.000000
Variation                        323   object    7954  0.052483
CD Shipping Provider               3   object  151549  0.999967
Shipping Provider                  6   object    4036  0.026631
Shipment Type Name                 3   object       0  0.000000
Shipping Provider Type             0  float64  151554  1.000000
CD Tracking Code                   4   object  151549  0.999967
Tracking Code                 126611   object    4053  0.026743
Tracking URL                       0  float64  151554  1.000000
Promised shipping time             0  float64  151554  1.000000
Premium                            1   object       0  0.000000
Status                             5   object       0  0.000000
Reason                            58   object  136858  0.903031

In [6]:
cols_to_drop = data_details[data_details['null %'] > 0.5].index
cols_to_drop

Index(['Order Source', 'Order Currency', 'National Registration Number',
       'Shipping Address2', 'Shipping Address3', 'Shipping Address4',
       'Shipping Address5', 'Shipping Phone Number2', 'Shipping Postcode',
       'Billing Address2', 'Billing Address3', 'Billing Address4',
       'Billing Address5', 'Billing Phone Number2', 'Billing Postcode',
       'CD Shipping Provider', 'Shipping Provider Type', 'CD Tracking Code',
       'Tracking URL', 'Promised shipping time', 'Reason'],
      dtype='object')

In [7]:
to_drop = ['Order Source', 'Order Currency', 'National Registration Number',
       'Shipping Address2', 'Shipping Address3', 'Shipping Address4',
       'Shipping Address5', 'Shipping Phone Number2', 'Shipping Postcode',
       'Billing Address2', 'Billing Address3', 'Billing Address4',
       'Billing Address5', 'Billing Phone Number2', 'Billing Postcode',
       'CD Shipping Provider', 'Shipping Provider Type', 'CD Tracking Code',
       'Tracking URL', 'Promised shipping time']
''' 
Dropping all the columns that has null values more than 50 %
'''
data.drop(to_drop , axis = 1 , inplace = True)

In [8]:
data.columns

Index(['Unnamed: 0', 'Seller Name', 'Order Item Id', 'Daraz Id', 'Seller SKU',
       'Daraz SKU', 'Created at', 'Updated at', 'Order Number',
       'Customer Name', 'Shipping Name', 'Shipping Address',
       'Shipping Phone Number', 'Shipping City', 'Shipping Country',
       'Shipping Region', 'Billing Name', 'Billing Address',
       'Billing Phone Number', 'Billing City', 'Billing Country',
       'Payment Method', 'Paid Price', 'Unit Price', 'Shipping Fee',
       'Wallet Credits', 'Item Name', 'Variation', 'Shipping Provider',
       'Shipment Type Name', 'Tracking Code', 'Premium', 'Status', 'Reason'],
      dtype='object')

In [9]:
data_details = {'unique':data.nunique(),
              'dtype':data.dtypes,
             'null':data.isna().sum(),
             'null %':data.isna().sum()/len(data)
             }
data_details = pd.DataFrame(data_details)
data_details

                       unique    dtype    null    null %
Unnamed: 0             151554    int64       0  0.000000
Seller Name               554   object       0  0.000000
Order Item Id          150074    int64       0  0.000000
Daraz Id               150074    int64       0  0.000000
Seller SKU              29947   object       0  0.000000
Daraz SKU               30167   object       0  0.000000
Created at              45533   object       0  0.000000
Updated at              60166   object       0  0.000000
Order Number            96277    int64       0  0.000000
Customer Name           46116   object       0  0.000000
Shipping Name           45805   object      83  0.000548
Shipping Address        38583   object       0  0.000000
Shipping Phone Number   57201   object      83  0.000548
Shipping City              51   object       0  0.000000
Shipping Country            2   object       0  0.000000
Shipping Region            10   object      30  0.000198
Billing Name            46092   object       0  0.000000
Billing Address         37530   object       0  0.000000
Billing Phone Number    51430  float64       0  0.000000
Billing City               43   object       0  0.000000
Billing Country             2   object       0  0.000000
Payment Method              2   object       0  0.000000
Paid Price              10816  float64       0  0.000000
Unit Price               3341  float64       0  0.000000
Shipping Fee             5316  float64       0  0.000000
Wallet Credits              1    int64       0  0.000000
Item Name               24852   object       0  0.000000
Variation                 323   object    7954  0.052483
Shipping Provider           6   object    4036  0.026631
Shipment Type Name          3   object       0  0.000000
Tracking Code          126611   object    4053  0.026743
Premium                     1   object       0  0.000000
Status                      5   object       0  0.000000
Reason                     58   object  136858  0.903031

In [10]:
data.columns

Index(['Unnamed: 0', 'Seller Name', 'Order Item Id', 'Daraz Id', 'Seller SKU',
       'Daraz SKU', 'Created at', 'Updated at', 'Order Number',
       'Customer Name', 'Shipping Name', 'Shipping Address',
       'Shipping Phone Number', 'Shipping City', 'Shipping Country',
       'Shipping Region', 'Billing Name', 'Billing Address',
       'Billing Phone Number', 'Billing City', 'Billing Country',
       'Payment Method', 'Paid Price', 'Unit Price', 'Shipping Fee',
       'Wallet Credits', 'Item Name', 'Variation', 'Shipping Provider',
       'Shipment Type Name', 'Tracking Code', 'Premium', 'Status', 'Reason'],
      dtype='object')

In [11]:
'''
Dropping unnecessary columns which has no impact on any results
'''

to_drop = ['Unnamed: 0','Order Item Id', 'Daraz Id','Daraz SKU','Customer Name', 
           'Shipping Name','Shipping Phone Number',
           'Billing Name', 'Billing Address',
           'Billing Phone Number', 'Billing City', 'Billing Country',
           'Wallet Credits','Premium']

data.drop(to_drop, axis = 1, inplace= True)

In [12]:
data.shape

(151554, 20)

In [13]:
'''
converting object format to date
'''
data['Created at'] = pd.to_datetime(data['Created at'], format='%Y-%m-%d')
data['Updated at'] = pd.to_datetime(data['Updated at'], format='%Y-%m-%d')

'''
converting int format to object
'''
data['Order Number'] = data['Order Number'].astype(str)

In [14]:
data_details = {'unique':data.nunique(),
              'dtype':data.dtypes,
             'null':data.isna().sum(),
             'null %':data.isna().sum()/len(data)
             }
data_details = pd.DataFrame(data_details)
data_details

                    unique           dtype    null    null %
Seller Name            554          object       0  0.000000
Seller SKU           29947          object       0  0.000000
Created at           45533  datetime64[ns]       0  0.000000
Updated at           60166  datetime64[ns]       0  0.000000
Order Number         96277          object       0  0.000000
Shipping Address     38583          object       0  0.000000
Shipping City           51          object       0  0.000000
Shipping Country         2          object       0  0.000000
Shipping Region         10          object      30  0.000198
Payment Method           2          object       0  0.000000
Paid Price           10816         float64       0  0.000000
Unit Price            3341         float64       0  0.000000
Shipping Fee          5316         float64       0  0.000000
Item Name            24852          object       0  0.000000
Variation              323          object    7954  0.052483
Shipping Provider        6          object    4036  0.026631
Shipment Type Name       3          object       0  0.000000
Tracking Code       126611          object    4053  0.026743
Status                   5          object       0  0.000000
Reason                  58          object  136858  0.903031

In [18]:
cat_col = data.select_dtypes(include= 'object')
cat_col.columns

Index(['Seller Name', 'Seller SKU', 'Order Number', 'Shipping Address',
       'Shipping City', 'Shipping Country', 'Shipping Region',
       'Payment Method', 'Item Name', 'Variation', 'Shipping Provider',
       'Shipment Type Name', 'Tracking Code', 'Status', 'Reason'],
      dtype='object')

In [20]:
for col in cat_col:
    print(f'value count of {col} ')
    value = {'value' : data[col].value_counts().head(30),
             'percentage':(data[col].value_counts().head(30) * 100 ) /len(data[col]) }
    value = pd.DataFrame(value)
    print(value)
    print('------------------------------------- ')

value count of Seller Name
                         value  percentage
NewLifeStyle              7490    4.942133
Aafno Pasal               6997    4.616836
Onlineshopgroup           5999    3.958325
AB Tech                   5796    3.824379
KpItSolution              5752    3.795347
Ramesh impex              5544    3.658102
waiwaiparts               4033    2.661098
Alina Traders             3956    2.610291
Best Choice               3731    2.461829
Swift                     2997    1.977513
NayaaNaulo                2810    1.854125
GuitarShop                2597    1.713581
Sherpa Ventures           2550    1.682569
bestdeals                 2484    1.639020
shristy fashion           2447    1.614606
softvisionmultisolution   2101    1.386305
sastotrade                1990    1.313063
Laughing Buddha           1861    1.227945
abfancystore              1785    1.177798
Gadget Guru               1692    1.116434
aarush31                  1659    1.094659
Goldstar                  1636    1.079483
hardikfancycollection     1369    0.903308
Moonstar Tailors          1363    0.899349
D2fancy                   1338    0.882854
DeepaLadiesCollection     1249    0.824129
Sasto Sewa Nepal          1214    0.801035
Le Fabec                  1132    0.746928
pilgrimsbook              1033    0.681605
StarPlus International    1030    0.679626
-------------------------------------
value count of Seller SKU
                                                    value  percentage
GE910ELBL9NVNPBID-2139458                            1220    0.804994
14001400                                              580    0.382702
OT028MABKBFBNPBID-2073976                             577    0.380722
14001401                                              470    0.310120
PBMB                                                  362    0.238859
EZ900 Daddario Extra Light Acoustic Guitar Strings    362    0.238859
frother machine                                       344    0.226982
YU912MABL057NPBID-2124624                             340    0.224342
skinnyblack123                                        336    0.221703
WZHNP0006NL21164611-46435-18-01                       331    0.218404
41001231_DELETED_2018-05-15_18-03-26                  305    0.201248
OT028ELBE0MYNPBID-1891646                             296    0.195310
Stainless Steel Electric Kettle                       292    0.192671
mini earphone                                         287    0.189371
Red 4 Pieces PU Leather Hand Bag For Women_DELE...    275    0.181453
SKU0014                                               271    0.178814
10000mAH PB Black                                     268    0.176835
OT028ELBL6O7NPBID-2134264                             265    0.174855
Pure Leather Magic Wallet - Dark Brown                265    0.174855
Pure Leather Magic Wallet - Black                     263    0.173536
glue gun                                              262    0.172876
Aafno Pasal (kit 31 in1)                              258    0.170236
i6 SMART WATCH                                        257    0.169577
NOVA 2 in 1 Hair Iron                                 254    0.167597
MI 4A, 2GB RAM-32GB RAM                               252    0.166277
Gemei 789                                             251    0.165618
jblt110                                               245    0.161659
Geneva Sunlight Color Changing Watch for Women        243    0.160339
vr combo with earphone                                239    0.157700
Grey 4 Pieces PU Leather Hand Bag For Women_DEL...    235    0.155060
-------------------------------------
value count of Order Number
           value  percentage
300013828    175    0.115470
300048788     87    0.057405
300852272     55    0.036291
300088948     50    0.032992
300894252     49    0.032332
300018386     35    0.023094
300131762     34    0.022434
300142722     33    0.021774
300267782     33    0.021774
300037363     32    0.021115
300002593     30    0.019795
300068541     30    0.019795
300779272     30    0.019795
300074865     27    0.017815
300189772     26    0.017156
300468952     26    0.017156
300879762     25    0.016496
300002993     24    0.015836
300083775     24    0.015836
300074732     24    0.015836
300046621     22    0.014516
300061356     22    0.014516
300062978     21    0.013856
300198912     21    0.013856
300116432     21    0.013856
300021475     20    0.013197
300952282     20    0.013197
300174782     20    0.013197
300475362     20    0.013197
300952122     19    0.012537
-------------------------------------
value count of Shipping Address
                                                    value  percentage
#####                                                2697    1.779564
Biratnagar                                           1241    0.818850
Pokhara                                               730    0.481676
Butwal                                                693    0.457263
Nepalgunj                                             530    0.349710
Birgunj                                               528    0.348391
Itahari                                               483    0.318698
Kathmandu                                             437    0.288346
Pulchowk                                              421    0.277789
Bhairahawa                                            414    0.273170
Dharan                                                396    0.261293
Maitidevi                                             372    0.245457
Hetauda                                               370    0.244137
Lazimpat                                              346    0.228301
Courier company                                       341    0.225002
Koteshwor                                             340    0.224342
Janakpur                                              324    0.213785
Bharatpur                                             318    0.209826
Chitwan                                               306    0.201908
Kalanki                                               295    0.194650
Sanepa                                                284    0.187392
Damak                                                 276    0.182113
Putalisadak                                           272    0.179474
c/o Mr Ramesh Pandey Hotel Hardik Bagbazaar Kat...    262    0.172876
biratnagar                                            247    0.162978
Birtamode                                             232    0.153081
Kirtipur                                              230    0.151761
Thamel                                                219    0.144503
Jorpati                                               217    0.143183
Baluwatar                                             211    0.139224
-------------------------------------
value count of Shipping City
                             value  percentage
Kathmandu Inside Ring Road   59188   39.054067
Kathmandu Outside Ring Road  13778    9.091149
Lalitpur Inside Ring Road    11846    7.816356
Pokhara                       9786    6.457104
Biratnagar                    6146    4.055320
Bhaktapur                     5924    3.908838
Butwal                        5188    3.423202
Lalitpur Outside Ring Road    4884    3.222614
Bharatpur                     4744    3.130237
Nepalgunj                     3846    2.537709
Birgunj                       3363    2.219011
Dharan                        3045    2.009185
Janakpur                      3012    1.987410
#####                         2697    1.779564
Itahari                       2609    1.721499
Bhairahawa                    2604    1.718199
Birtamod                      2150    1.418636
Hetauda                       2074    1.368489
Narayanghat                   2024    1.335498
Damak                         1631    1.076184
Bhadrapur                      245    0.161659
Kakarbhitta                    212    0.139884
Dhangadhi                      122    0.080499
Chandragadi                     85    0.056086
Kathmandu                       83    0.054766
Banepa                          81    0.053446
Kathmandu Â                      39    0.025733
City                            30    0.019795
Lalitpur                        26    0.017156
Morang                          18    0.011877
-------------------------------------
value count of Shipping Country
        value  percentage
Nepal  148857   98.220436
#####    2697    1.779564
-------------------------------------
value count of Shipping Region
          value  percentage
Bagmati   95869   63.257321
Narayani  12235    8.073030
Koshi     11818    7.797881
Gandaki    9792    6.461063
Lumbini    7791    5.140742
Mechi      4327    2.855088
Bheri      3850    2.540349
Janakpur   3023    1.994669
#####      2697    1.779564
Seti        122    0.080499
-------------------------------------
value count of Payment Method

                 value  percentage
CashOnDelivery  151307   99.837022
NoPayment          247    0.162978
-------------------------------------
value count of Item Name
                                                    value  percentage
Gemei GM-721 Length Adjusting Hair And Beard Tr...    672    0.443406
GM-721 Length Adjusting Hair And Beard Trimmer        631    0.416353
Lazy Stand Heavy Duty Bracket Phone Holder Mount      585    0.386001
Women's Shoulder Bags PU Leather Fashion Hand B...    541    0.356968
3 In 1 Universal Clip Phone Lens                      528    0.348391
Electronic Milk, Coffee, Egg Frother Mixer            502    0.331235
PRUTA Top Quality Durable Plastic Food Containe...    487    0.321338
Korean Design PU Leather Cross Body Bag Long St...    458    0.302203
Mini Wireless Sport Bluetooth Earbuds Headset S...    414    0.273170
Stainless Steel Electric Kettle - 2 Ltr               392    0.258654
31 In 1 Screw Driver Set                              380    0.250736
Hot Glue Gun 80W Electric With 10Pcs Glue Sticks      374    0.246777
Orange PRUTA Top Quality Durable Plastic Food C...    365    0.240838
Portable Wireless Bluetooth Box Speaker               364    0.240178
EZ900 D'addario Extra Light Acoustic Guitar Str...    362    0.238859
222 Pack Of 3 Check Printed Boxer-Multi-Color V2      340    0.224342
Unisex Skinny Gloves Fleece Gloves - Black            336    0.221703
Tea Tree Essential Oil 6ml                            292    0.192671
LU-21 Soprano Ukulele with Case                       284    0.187392
Pack Of 3 Roober Boxers Set (Color May Vary)          280    0.184753
Multi Purpose Water Spray Gun With 50ft Long Ex...    279    0.184093
Electronic Milk/Coffee/Egg Frother Mixer              276    0.182113
Skinny Gloves - Black                                 271    0.178814
Polymer-10 10000mAH Power Bank - Black                268    0.176835
Pure Leather Magic Wallet - Dark Brown                265    0.174855
Pure Leather Magic Wallet - Black                     263    0.173536
Redmi 4A Mobile Phone [2GB RAM, 32GB ROM] - Dar...    251    0.165618
Black Fleece Bomber Jacket For Women                  243    0.160339
Geneva Sunlight Color Changing Watch for Women ...    243    0.160339
Black Windstopper Gloves                              239    0.157700
-------------------------------------
value count of Variation
             value  percentage
...          78309   51.670692
M             9738    6.425433
L             8405    5.545878
One size      6979    4.604959
â€¦             6539    4.314634
XL            5798    3.825699
Free size     5539    3.654803
free size     1243    0.820170
XXL           1230    0.811592
42            1183    0.780580
S             1080    0.712617
8              904    0.596487
40             865    0.570754
41             787    0.519287
7              754    0.497512
9              730    0.481676
32             673    0.444066
BLACK          612    0.403816
43             611    0.403157
PINK           566    0.373464
39             553    0.364886
Not defined    549    0.362247
36             494    0.325956
,              480    0.316719
30             467    0.308141
6              458    0.302203
38             444    0.292965
34             444    0.292965
29             339    0.223683
Black          330    0.217744
-------------------------------------
value count of Shipping Provider
                  value  percentage
Rapid            118653   78.290906
NP-Rapid-Fleet    20080   13.249403
NP-Aramex-Fleet    7904    5.215303
NP-Swift-Fleet      804    0.530504
NP-TEST-FLEET        75    0.049487
NP-TEST-STATION       2    0.001320
-------------------------------------
value count of Shipment Type Name
                value  percentage
Dropshipping   151465   99.941275
Cross docking      83    0.054766
Own Warehouse       6    0.003959
-------------------------------------
value count of Tracking Code
          value  percentage
RP27152      87    0.057405
RP56958      32    0.021115
RP97049      30    0.019795
RP97068      27    0.017815
RP90340      20    0.013197
RP05569      20    0.013197
RP23673      18    0.011877
RP79126      17    0.011217
RP14541      16    0.010557
RP61072      16    0.010557
RP05572      15    0.009897
RP65706      15    0.009897
RP83653      15    0.009897
AR02018      14    0.009238
RP000446     14    0.009238
RP39048      14    0.009238
SW00150      14    0.009238
RP94540      14    0.009238
RP23966      14    0.009238
RP08955      13    0.008578
RP80038      13    0.008578
RP83750      13    0.008578
RP49901      12    0.007918
AR00038      12    0.007918
RP72686      12    0.007918
RP85946      12    0.007918
RP001493     12    0.007918
RP90639      12    0.007918
RP93153      12    0.007918
RP14888      12    0.007918
-------------------------------------
value count of Status
            value  percentage
delivered  109526   72.268630
failed      22731   14.998614
canceled    14849    9.797828
returned     4444    2.932288
shipped         4    0.002639
-------------------------------------
value count of Reason
                                                    value  percentage
Already requested to cancel with client              4413    2.911833
CA02- Not reachable/not picking calls                2512    1.657495
CA07- Customer already asked Jumia CS to cancel...   1083    0.714597
Customer Changed Mind                                 935    0.616942
CUS_2_-_Customer_decided_for_an_alternative_on_...    921    0.607704
Content_error                                         683    0.450664
Mistakenly ordered/Processed Order                    592    0.390620
Customer - dislikes general or color/material/s...    514    0.339153
CA44 - Customer Self Cancellation                     462    0.304842
CUS_6_-_Fulfilment_was_too_long_for_the_customer      413    0.272510
CUS_8_-_Customer_was_testing_Daraz                    327    0.215765
Delay (cannot meet deadline)                          318    0.209826
Duplicate order                                       197    0.129987
Client requested to cancel delivery                   159    0.104913
CA09- Not at the address mentioned                    136    0.089737
High Value Item-Buyer Cancellation                    132    0.087098
CA11- Duplicate order                                 104    0.068622
CUS_4_-_Customer_forgot_to_input_voucher_or_had...     98    0.064663
CUS_1_-_Customer_decided_for_an_alternative_out...     83    0.054766
Size - size too small                                  66    0.043549
CA19- Received at the hub in damaged state             59    0.038930
CA13- Cancelled due to lateness                        53    0.034971
RJ07- Disliked general or color/material/style         41    0.027053
Address_is_out_of_COD_area_or_delivery_area            34    0.022434
RJ14- Size too small                                   33    0.021774
RJ06- Presentation different on website                32    0.021115
CA44- Customer Self Cancellation                       32    0.021115
Daraz/AIG_staff_placed_a_test_order                    26    0.017156
Backlog_cleaning_for_IT_issue                          22    0.014516
CUS_3_-_Customer_changed_his_payment_method            22    0.014516
-------------------------------------

In [21]:
num_col = data.select_dtypes(include= 'float64')
num_col.columns

Index(['Paid Price', 'Unit Price', 'Shipping Fee'], dtype='object')